@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@{
    ViewData["Title"] = "Home Page";
}

@if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h1 class="display-4">@HttpContextAccessor.HttpContext.User.FindFirst("Test").Value</h1>        
    </div>

}
else
{
    <div class="text-center">
        <h1 class="display-4">Login</h1>
    </div>
}